In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
X_full = pd.read_csv('data/train.csv')
X_test_full = pd.read_csv('data/test.csv')

X_full.dropna(axis=0, subset=['SalePrice'],inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

X_train_selection = X_full[['LotArea','OverallQual', 'OverallCond', 'YearRemodAdd', 'TotalBsmtSF', 'GarageCars', 'GarageArea', 'GrLivArea', 'FullBath', 'BedroomAbvGr', 'KitchenQual', 'MoSold']]
X_test_selection = X_test_full[['LotArea','OverallQual', 'OverallCond', 'YearRemodAdd', 'TotalBsmtSF', 'GarageCars', 'GarageArea', 'GrLivArea', 'FullBath', 'BedroomAbvGr', 'KitchenQual', 'MoSold']]

X_train, X_valid, y_train, y_valid = train_test_split(X_train_selection, y, train_size=0.8, test_size=0.2, random_state=0)

X_train.head()

,LotArea,OverallQual,OverallCond,YearRemodAdd,TotalBsmtSF,GarageCars,GarageArea,GrLivArea,FullBath,BedroomAbvGr,KitchenQual,MoSold
618,11694,9,5,2007,1822,3,774,1828,2,3,Gd,7
870,6600,5,5,1962,894,1,308,894,1,2,TA,8
92,13360,5,7,2006,876,2,432,964,1,2,TA,8
817,13265,8,5,2002,1568,3,857,1689,2,3,Gd,7
302,13704,7,5,2002,1541,3,843,1541,2,3,Gd,1

In [8]:
print(X_train.shape)

(1168, 12)

In [9]:
missing_val_count_by_column = (X_train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

Series([], dtype: int64)

In [10]:
X_train_selection.to_csv('data/train_data.csv', index=False)
X_test_selection.to_csv('data/test_data.csv', index=False)